#adventure {
  background-color: white;
  white-space: pre;
  margin: 25px;
  border-radius: 12px;
  overflow: hidden;
}

.content-fragment-wrapper{
   display: flex;
   height: 100%;
   position: relative;
   font-size: 16px;
   border-radius: 12px;
   overflow: hidden;
} 

/* Hide the button container */
.button-container {
  display: none;
}

section:nth-child(1) {
  flex: 1;
  border-radius: 12px;
  overflow: hidden;
}

section:nth-child(2) {
  position: absolute;
  padding-left: 25px;
  top: 20px;
  left: 50px;
  right: 50px;
  bottom: 40px;
  border-radius: 8px;
  height: 60px; /* Adjusted height for h3 section */
  display: flex;
  align-items: center;
}

section:nth-child(3) {
  position: absolute;
  padding-left: 25px;
  top: 80px;
  left: 50px;
  right: 50px;
  bottom: 10px;
  color: white;
  font-size: 16px;
  border-radius: 8px;
}

section:nth-child(4) {
  position: absolute;
  padding-left: 25px;
  top: 170px;
  left: 50px;
  right: 50px;
  bottom: 10px;
  color: yellow;
  border-radius: 8px;
}

section:nth-child(5) {
  position: absolute;
  padding-left: 25px;
  top: 190px;
  left: 50px;
  right: 50px;
  bottom: 10px;
  color: yellow;
  border-radius: 8px;
}

section:nth-child(6) {
  position: absolute;
  padding-left: 25px;
  top: 210px;
  left: 50px;
  right: 50px;
  bottom: 10px;
  color: yellow;
  border-radius: 8px;
}

section:nth-child(7) {
  position: absolute;
  padding-left: 25px;
  top: 230px;
  left: 50px;
  right: 50px;
  bottom: 10px;
  color: yellow;
  border-radius: 8px;
}

section:nth-child(8) {
  position: absolute;
  padding-left: 25px;
  top: 260px;
  left: 50px;
  right: 50px;
  bottom: 10px;
  color: white;
  border-radius: 8px;
}

section:nth-child(8) p {
 line-height: 1.5em;
 font-size: 16px;
}

#slug {
  visibility: hidden;
}

#adventure .text {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ebebeb;
  padding: 3.5em 2em 2em;
  border-radius: 12px;
}

img {
  width: 1200px;
}

.section.content-fragment-container {
  img {
    height: 160px;
    border-radius: 12px;
  }
}

.content-fragment-wrapper h3 {
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 2px #000;
}

.content-fragment-wrapper h2 {
  color: white;  
  font-size: 20px;
  text-shadow: 1px 1px 2px #000
}
